---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
import '../styles/global.css';
---

<html lang="es">
  <head>
    <title>Empastes Chile - Un Empaste para cada Idea</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Con más de tres décadas de experiencia, transformamos libros y documentos en auténticas obras de arte.">
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon" />
    <meta property="og:title" content="Empastes Chile">
    <meta property="og:description" content="Un Empaste para cada Idea">
    <meta property="og:image" content="https://www.empasteschile.cl/_image?href=%2F_astro%2Flogoec.7xpIOXIE.png&w=3005&h=2550&f=webp">
    <meta property="og:url" content="https://www.empasteschile.cl">
    <script src="/script/main.js" defer></script>
  </head>
  <body>
    <Header />
    <main class="main">
      <Hero />
      <Services />
      <Contact />
      <Footer />
    </main>
  </body>
</html>
